
.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    transition: opacity 0.15s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
  }

  .subscribe-button:hover {
    opacity: 0.8;
  }

  .subscribe-button:active {
    opacity: 0.5;
  }

  .join-button {
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    color: rgb(41, 118, 211);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
    color: 0.15s;
  }

  .join-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;
  }

  .join-button:active {
    opacity: 0.7;
  }


  .tweet-button {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15;
    vertical-align: top;
  }

  .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);    
  }

  .getstarted-button {
    background-color: rgb(121, 82, 216);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
  }

  .download-button {
    background-color: white;
    color: black;
    border: solid;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
  }
  .amazon {
    color: rgb(0, 128, 105);
  }

  .nike {
    color: black;
    font-weight: bolder;
    font-size: x-large;
  }

  .stock {
    color: rgb(0, 118, 0);
    font-weight: bold;
    font-size: large;
  }

  .free {
    color: black;
    font-weight: 100;
    font-size: large;
  }

  .cart {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 36px;
    width: 120px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
  }

  .buy {
    background-color: rgb(255, 164, 28);
    color: black;
    border: none;
    height: 36px;
    width: 120px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }
