.p {
  font-family: "Montserrat";
  margin-top: 0;
  margin-bottom: 0;
  }
  
.shadow {
  background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    transition: background-color 0.15s;
    color: 0.15s;
}
.stratch {
  background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
    color: 0.15s;
}
.one {
  background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
    color: 0.15s;
}
.two {
  background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
    color: 0.15s;
}
.three {
  background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
    color: 0.15s;
}
.model {
  color: black; 
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.order { 
  color: black;
  font-size:25px;
  font-weight:20px;
  font-style: normal;
  text-align: center;
}

.numbers {
  color: purple;
}

.page {
  font-size: large;
  font-weight: bold;
}

.shadow:hover {
  opacity: 1px; 
}
.shadow:active {
  opacity: 0.3px;
}

.best {
  width: 200px;
  border-radius: 300px;
  width: 300px;          /* set square width */
  height: 300px;         /* same as width */
  background: #eee;      /* optional background color */
  display: flex;         /* use flexbox */
  justify-content: center; /* center horizontally */
  align-items: center;  
  margin-bottom: 50px;
}

.searchbar {
  box-shadow: black;
  align-items: center;
  width: 500px;   /* make box longer */
  background: white;
  border-radius: 20px;
  padding: 10px; /* increase lenght */
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

